In [28]:
import numpy as np, pandas as pd
from tree_maker import csv_to_jsontree

In [33]:
csvfile = pd.read_csv('test_csvfile.csv')
csvfile

  condition  target   sub  dub
0    oxygen   grass    G1   T1
1    oxygen   grass    G2   T1
2    oxygen   grass    G2   T2
3     water     car    G3   T1
4     water   grass    GZ   T1
5     water   grass    GZ   T2
6      fire     car   GTD   T3
7    oxygen    bomb  GYYS   T1

In [27]:
x = csv_to_jsontree('test_csvfile.csv')[0]['children']
print('length is', len(x))
x

length is 2

[{'name': 'grass',
  'children': [{'name': 'G1', 'children': [{'name': 'T1'}]},
   {'name': 'G2', 'children': [{'name': 'T1'}, {'name': 'T2'}]}]},
 {'name': 'bomb',
  'children': [{'name': 'GYYS', 'children': [{'name': 'T1'}]}]}]